.inputDiv {
    margin: 0 auto;
    margin-top: 240px;

    p{ 
      text-align: center;
      font-weight: 600;
      color: $titlegrey;
      font-size: 18px;
      padding: 0px;
      margin: 0px 0px 10px;
      cursor: default;
    }

    a{
      background-color: $titlegrey;
      color: $white;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      margin: 0 auto 0;
      font-size: 18px;

      &.loginReg{
          display: block;
          margin: 0 auto 0;
          width: 120px;
          height: 22px;
          margin-top: 10px;
      }
    }
  
  
  .wrap{
    margin-bottom: 20px;

    p{  
      text-align: center;
      font-family: Sora;
      font-weight: 600;
      color: $titlegrey;
      font-size: 18px;
      padding: 0px;
      margin: 0px;
      margin-top: 0px;

      .line{
        display: block;
      }
    }
  }

  .registerBtn{
    background-color: $titlegrey;
    color: $white;
    border-radius: 5px;
    margin: 0 auto 0;
    width: 120px;
    height: 22px;
    cursor: pointer;
  }

  
  button {
    font-style: normal;
    font-weight: 600;
    border: 2px solid #444444;
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }
  
  input {
    border: 2px solid #444444;
    border-radius: 10px;
    background: #FFFFFF;
    font-size: 18px;
    width: 291px;
    height: 51px;
    text-align: center;
    font-family: Sora;
    margin: 0 auto; 
    display: block;
    margin-bottom: 32px;
  }

    .loginButton{
    font-size: 18px;
    width: 291px;
    height: 51px;
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 32px;
    background-color: $titlegrey;
    color: #ffffff;
    }
}