/** Design for Votesphere **/ 
@import "variables";


body {
  background-color: $lightblue;
  box-sizing: border-box;
}

<<<<<<< HEAD
*{
=======

/** HEADER **/

.header {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 162px;
  top: 0px;
  left: 0;
  z-index: 1;
}

h1 {
  font-family: Sora;
  font-style: normal;
  font-size: 72px;
  text-align: center;
  padding-top: 25px;
  color: #444444;
}


.login {
  top: 123px;
  position: absolute;
  float: right;
  right: 0;
  padding-right: 32px;
  font-size: 18px;
  color: #444444;
>>>>>>> 690fae2f09e82113d8aa1161c438b555dd3055ea
  font-family: Sora;
}

@import "header";
@import "app";
@import "pin";
@import "lines";
@import "loginregister";
@import "userhome";
@import "publishpoll";





