/** Design for Votesphere **/ 
@import "variables";


body {
  background-color: $lightblue;
  box-sizing: border-box;
}

*{
  font-family: Sora;
}

@import "header";
@import "app";
@import "pin";
@import "lines";
@import "loginregister";
@import "userhome";
@import "publishpoll";





